<section>
    <div class="container">
        <div>
            <h4 class="center-align" style="color: var(--primary-color);">Terms and Conditions</h4>
            <h6>Abusive comments are not allowed on our blog. If a comment is reported as inappropriate it will be reviewed and the blog team 
                will take the necessary measures they see fit <span class="#dd2c00 deep-orange-text text-accent-4">(even delete the comment if need be).</span></h6>
           

            <div class="row">
                <div class="col l3"></div>
                
                <button class="btn col l6">Back to Home</button>
                
                <div class="col l3"></div>
            </div>
        </div>
    </div>
</section>

