@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


nav{
    background-color: var(--navbar-footer-color);
    margin-top: auto;
    height: 140px;
}

a{
    text-transform: uppercase;
    color: var(--primary-color);
}

.navbar-fixed{
    background-color: var(--navbar-footer-color);
}

h4{
    font-family: 'Caveat', cursive;
}
  ul{
    display: inline-block;
    justify-content: center;
 }