<section>
    <div class="container">
        <div>
            <h4 class="center-align" style="color: var(--primary-color);">Contact Us</h4>
            
                <h6 class="col l6 center-align">email:  <span class="#2962ff blue-text text-accent-4">dummyemail@gmail.com</span></h6>
                <h6 class="col l6 center-align">phone:  <span class="#2962ff blue-text text-accent-4">+263 7122222220000000</span></h6>
                
            

            <div class="row">
                <div class="col l3 m3 s3"></div>


                <button class="btn col l6 m6 s6" routerLink="/">Back to Home</button>


                <div class="col l3 m3 s3"></div>
            </div>
        </div>
    </div>
</section>

