<section>
    <div class="container">
        <div>
            <h4 class="center-align" style="color: var(--primary-color);">About Us</h4>
            <h6>This is a blog which only serves to educate and inspire people by keeping everyone
                 up to date with everything happening in Zvishavane. We hope you enjoy our content as we always strive to give you the best</h6>
            
            
            <div class="row">
                <div class="col l3 m3 s3"></div>

                
                <button class="btn col l6 m6 s6" routerLink="/">Back to Home</button>
                

                <div class="col l3 m3 s3"></div>
            </div>
        </div>
    </div>
</section>
