@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');




h5 {
    font-family: 'Caveat', cursive;
}
footer{
    background-color: var(--navbar-footer-color);
    padding: 15px;

}

.logo{
    font-size: 1.2em;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-self: center;
    margin-bottom: 1%;
}

.link{
    color: var(--primary-color);
}
ul{
    text-align: center;
    
}
ul li {
    margin: 2%;
}