<footer>
    <div class="container">
        <div class="row">
            
                <div class="logo col s12" ><h5 class="center-align">ZVISH-GOSSIP</h5></div>
                <div >
                    <ul>
                        <li class="col s2"><a routerLink="/" class="link">Home</a></li>
                        <li class="col s2"><a routerLink="/about" class="link">About</a></li>
                        <li class="col s2"><a routerLink="terms" class="link">Terms & Conditions</a></li>
                        <li class="col s2"><a routerLink="contact" class="link">Contact Us</a></li>
                    </ul>
                </div>
                <p class="col s12" style=" text-align: center; margin-top: 2%;">Copyright © 2023 Zvish Blogsite</p>
            
        </div>
    </div>
</footer>
